spevnik-casd/spevnik-casd.xcodeproj/project.xcworkspace/xcuserdata/milannosal.xcuserdatad/UserInterfaceState.xcuserstate
spevnik-casd/spevnik-casd.xcodeproj/xcuserdata/milannosal.xcuserdatad/xcschemes/xcschememanagement.plist
